<nav class="navbar">
    <div>
        <ul class="nav">            
            <li routerLinkActive="active"><a routerLink="/home"><div>Home</div></a></li>
            <li routerLinkActive="active"><a routerLink="/share"><div>Share</div></a></li>
            <li routerLinkActive="active"><a routerLink="/buy"><div>Buy</div></a></li>
            <li routerLinkActive="active"><a routerLink="/search"><div>Search</div></a></li>
            <li routerLinkActive="active"><a routerLink="/profile"><div>Profile</div></a></li>
        </ul>
    </div>
</nav>
