<div class="card selected">
    <div class="btn-right">
        <a routerLink="/home">
            <div class="github-star-badge">x</div>
        </a>
    </div>
    <div><strong>Red bricks</strong></div>
    <div>
        <ul>
            <li>
                <img src="../../assets/img/bricks.png">
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>Red bricks</li>
            <li>Richmond VIC</li>
            <li>Qty: 10,000</li>
            <li>Price: Free</li>
        </ul>
    </div>
    <div>Mobile : 0411-222-333</div>
    <div>Email : seller1@company2.com.au</div>
    <div>
        <p>&nbsp;</p>
        <div class="github-star-badge">Message the seller</div>
    </div>
</div>