<div class="item">
    <a routerLink="/selected-item">
        <div>
            <ul>
                <li>Red bricks</li>
                <li>Richmond VIC</li>
                <li>Qty: 10,000</li>
                <li>Price: Free</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img src="../../assets/img/bricks.png">
                </li>
            </ul>
        </div>
    </a>
</div>
<div class="item">
    <a routerLink="/selected-item">
        <div>
            <ul>
                <li>Red bricks</li>
                <li>Richmond VIC</li>
                <li>Qty: 10,000</li>
                <li>Price: Free</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img src="../../assets/img/sand.png">
                </li>
            </ul>
        </div>
    </a>
</div>