<div>
    <div class="card">
        <div>
            <p><strong>Add New Listing for Material Buy</strong></p>
        </div>
    </div>
    <div class="card">
        <form>
            <div class="input-item">
                <div>
                    <p>Item name</p>
                    <input type="text">
                </div>
                <div>
                    <p>Item Catagory</p>
                    <select>
                        <option>Flooring</option>
                        <option>Roofing</option>
                        <option>Insulation</option>
                        <option>Bathroom</option>
                    </select>
                </div>
                <div>
                    <p>Unit Type</p>
                    <select>
                        <option>M1</option>
                        <option>M2</option>
                        <option>M3</option>
                    </select>
                </div>
                <div>
                    <p>Units</p>
                    <input type="text">
                </div>
                <div>
                    <p>Item Location</p>
                    <input type="text">
                </div>
                <div>
                    <p>Item Condition</p>
                    <select>
                        <option>New</option>
                        <option>Good</option>
                        <option>Used</option>
                    </select>
                </div>
                <div>
                    <p>Price Per Unit</p>
                    <input type="text">
                </div>
                <div>
                    <p>Minimum Units</p>
                    <input type="text">
                </div>
                <div>
                    <p>Description</p>
                    <textarea></textarea>
                </div>
                <div class="section">
                    <p>Dimensions</p>
                    <div class="sub">
                        <div>
                            <p>Width</p>
                            <input type="text">
                        </div>
                        <div>
                            <p>Height</p>
                            <input type="text">
                        </div>
                        <div>
                            <p>Length</p>
                            <input type="text">
                        </div>
                        <div>
                            <p>Weight</p>
                            <input type="text">
                        </div>
                    </div>
                </div>
                <div>
                    <p>Upload photo</p>
                    <input type="file" style="width: 190px;">
                </div>
                <div>
                    <p>Contact via Chat</p>
                    <input type="checkbox">
                </div>
                <div>
                    <p></p>
                    <div class="github-star-badge">Add Buy Listing</div>
                </div>
            </div>
        </form>
    </div>
</div>