<div>
  <div class="toolbar" role="banner">
    <span class="banner-header"> Waste Reuse & Recycling of C&D Materials</span>
    <div class="spacer"></div>
  </div>

  <app-header></app-header>

  <div class="outlet">
    <router-outlet></router-outlet>
  </div>


  <div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">

      <span>{{ title }} app is running!</span>

    </div>

    <!-- Resources -->
    <h2>Resources</h2>
    <p>Here are some links to help you get started:</p>

    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
        <span>Documentation</span>
      </a>
    </div>

    <input type="hidden" #selection>

    <div class="card-container">
      <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <span>New Component</span>
      </div>
    </div>

    <!-- Terminal -->
    <div class="terminal">

    </div>

    <!-- Links -->
    <div class="card-container">
      AAAA
    </div>

    <!-- Footer -->
    <footer>
      <div class="github-star-badge">
        BBBB
      </div>
    </footer>

  </div>
</div>