<div>
    <div class="card">
        <div>
            <p>User Profile&nbsp;<strong>John Adams</strong></p>
        </div>
    </div>
    <div class="card">
        <form>
            <div class="input-item">
                <div>
                    <p>Change Password</p>
                    <input type="password">
                </div>
                <div>
                    <p>Change Email</p>
                    <input type="text">
                </div>
                <div>
                    <p>Change Mobile Number</p>
                    <input type="text">
                </div>
            </div>
        </form>
    </div>
    <div class="card list-items">
        <div><strong>Listings Management</strong></div>
        <form>
            <div class="input-item">
                <div>
                    <p>+</p>
                    <p>Add Share Listing</p>
                </div>
                <div>
                    <p>+</p>
                    <p>Manage Share Listing</p>
                </div>
                <div>
                    <p>+</p>
                    <p>Add Buy Listing</p>
                </div>
                <div>
                    <p>+</p>
                    <p>Manage Buy Listing</p>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div>
            <a routerLink="/home">
                <div class="github-star-badge" style="width:100px;margin: auto;height: 30px;border-radius: 20px;">View Messages</div>
            </a>
        </div>
    </div>
</div>