<div>
    <div class="card">
        <p>Welcome to Tradie Share!</p>
    </div>
    <div class="card">
        <div>
            <strong>Tradie Share </strong>helps Australian construction professionals to <strong>share </strong> excess
            materials.
        </div>
        <div>&nbsp;</div>
        <div>
            Also you can let others know that you are on lookout to <strong>buy </strong>some specific materials
        </div>
    </div>
    <strong>
        Top Sellers
    </strong>
    <div class="card">

    </div>
</div>