<div>
    <div class="card">
        <div>
            <p>Welcome to Tradie Share!</p>
        </div>
        <div>&nbsp;</div>
        <div>
            <strong>Tradie Share </strong>helps Australian construction professionals to <strong>share </strong> excess
            materials.
        </div>
        <div>&nbsp;</div>
        <div>
            Also you can let others know that you are on lookout to <strong>buy </strong>some specific materials
        </div>
    </div>
    <div class="top-seller">
        <strong>
            Top Sellers
        </strong>
    </div>
    <div class="card">
        <app-item></app-item>
    </div>
</div>